{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock header %}

{% block css %}
    
{% endblock css %}
    

{% block breadcrumb %}
<!-- breadcrumb content begin -->
<div class="uk-section uk-padding-remove-vertical in-wave-breadcrumb">
<div class="uk-container">
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <ul class="uk-breadcrumb">
                <li><a href="{% url 'home:mca' %}">Business Funding</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- breadcrumb content end -->
{% endblock breadcrumb %}
    

{% block body %}
 <!-- section content begin -->
 <div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-3-5@m">
              <h1 class="uk-margin-remove">Want to Eliminate <span class="in-highlight"> Monthly Processing Fees? </span> We Make It Possible!</h1>
                <p class="uk-text-lead uk-text-muted">Straight Line Source’s cash discount program can get rid of nearly all your monthly credit card processing fees!

                </p>                
                         
            </div>
            <div class="uk-width-2-5@m">
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded">                    
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-expand@m">
                        <img src="{% static 'processingp.png' %}" alt="Image">     
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->

<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 in-card-16">
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-grid uk-flex-middle" data-uk-grid>
                        <div class="uk-width-1-1 uk-width-expand@m">
                            <h3>Join our Referral Program for Credit Card Processing</h3>
                            <h5>You can get a $300 Gift Card by referring qualified friends, family members and colleagues!

                            </h5>
                        </div>
                        <div class="uk-width-auto">
                            <a class="uk-button uk-button-primary uk-border-rounded" href="{% url 'home:referral' %}">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->
  <!-- section content begin -->
     <div class="uk-section uk-section-muted uk-background-contain uk-background-center in-wave-3"
     style="background-image: url({% static 'img/in-wave-background-1.png' %});" data-uk-parallax="bgy: -200">
        <div class="uk-container">
            <div class="uk-grid" data-uk-grid>
                <div class="uk-width-3-5@m">
                  <h1 class="uk-margin-remove"><span class="in-highlight">Credit 
                </span> Card Processing</h1>
                    <p class="uk-text uk-text-muted">
                        Through Straight Line Source, you can get rid of most of the expensive credit card processing fees by using cash discount programs on any transactions within your store. Utilizing a merchant fee will encourage clients and customers to use cash or checks as a more common method of payment to avoid the credit card processing aspect of the transaction.
                    </p>                
                    <p class="uk-text uk-text-muted">
                        If you are a small business, you may prefer your finances to come through as cash. Mentioning that you are a business with credit card processing fees will boost these types of transactions for your company without you needing to alter your pricing. The terminal puts in the added fee automatically, making cash discounts easy!

                    </p>
                    <span class="uk-label in-label-small">Implement</span>
                    <i class="fas fa-long-arrow-alt-right fa-sm uk-margin-small-left uk-margin-small-right"></i>
                    <span class="uk-label in-label-small">Encourage</span>
                    <i class="fas fa-long-arrow-alt-right fa-sm uk-margin-small-left uk-margin-small-right"></i>
                    <span class="uk-label in-label-small">Boost </span>                
                </div>
                <div class="uk-width-2-5@m">
                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">                    
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-expand@m">
                                <h3 class="uk-margin-remove-bottom">Want to Eliminate Monthly Processing Fees?</h3>
                                <p class="uk-margin-small-top"> We Make It Possible!</p>
                                <a class="uk-button uk-button-primary uk-border-rounded" href="{% url 'home:apply' %}">Apply Online</a>
                            </div>
                            <div class="uk-width-auto@m uk-visible@m">
                                <div class="in-icon-wrapper transparent uk-margin-top">
                                    <i class="fas fa-user-graduate fa-5x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section content end -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@m in-card-10" data-uk-grid>
            <div class="uk-width-1-1">
              <h1 class="uk-margin-remove">Who says credit card processing needs to 
                <span class="in-highlight">be expensive?</span></h1>
                <p>
                    With the cash discount program from Straight Line Source, customers are encouraged to pay with cash or a check. The credit card terminal automatically calculates the additional service charge into the total for them to pay. Just join the program and we will handle things from there!


                </p>
            </div>
            
        </div>
    </div>
</div>
<!-- section content end -->

<!-- section content begin -->
<div class="uk-section in-wave-16">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded in-margin-medium-top@s">
                    <div class="uk-grid" data-uk-grid>
                        <div class="uk-width-expand@s uk-width-2-5@m uk-card-media-right uk-cover-container">
                            <img class="uk-width-1-1 uk-margin-remove-bottom mt-4" src="
                            {% static 'processing-2.png' %}" alt="sample-image" width="564" height="625">
                        </div>
                        <div class="uk-width-1-2@s uk-width-expand@m uk-flex uk-flex-middle">
                            <div class="uk-card-body">
                                <h1>How can I eliminate my  
                                    <br><span class="in-highlight">monthly processing</span>  fees?</h1>
                                <p>
                                    Arguably the most important way to eliminate monthly processing fees is to educate yourself. The more you know about the inner workings of processing fees, the more you’ll understand where charges come from and where the opportunities to eliminate these fees lie. In all industries, this knowledge will go along way toward eliminating most of your monthly merchant processing fees and collecting nearly all of your revenue. Straight Line Source’s program allows you, the merchant, to offset most of your merchant service fees without increasing your prices. By applying a service fee to all customers, while effectively providing a discount to customers who pay in cash, your posted prices become the rate for cash transactions.
                                </p>
                                <p>
                                    Customers who pay with cash will avoid the service fee, while customers who utilize all other forms of payment will be subject to a service fee. Our technology facilitates this and complies with regulations and guidelines per all major credit card brands.


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- section content end -->

 <!-- section content begin -->
 <div class="uk-section in-offset-bottom-40 in-wave-6">
    <div class="uk-container">
        <div class="uk-grid-collapse uk-position-relative" data-uk-grid>
            <div class="uk-position-bottom-right">
                <img src="{% static 'img/in-wave-background-2.png' %}" alt="wave-hq" width="540" height="513">
            </div>
            <div class="uk-width-1-1">
                <h1>
                    Straight Line Source’s 
 <span class="in-highlight">Surcharging Program & Cash Discount </span> <br> Program is easy to implement!</h1>
            </div>
            <div class="uk-width-5-5@m">
                <div class="uk-grid-medium uk-child-width-2-2@s uk-child-width-1-2@m uk-margin-medium-top uk-margin-medium-bottom" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            
                            <p class="uk-margin-small-top">
                                All you have to do is display the signage that we provide to you that your customers can read at the point of sale stating that non-cash transactions will be subject to a service fee. Don’t worry — there won’t be any extra work on your end! Your terminal is programmed to adjust for the Cash Discount Program automatically, so you can carry on with business as usual! Customers paying in cash, of course, will have this fee waived.


                            </p>
                            <p>
                                You’ve seen this exact concept in action at gas stations, where they advertise the less expensive “cash price” to encourage cash payments. Additionally, you might have noticed that many government entities operate on the same basis. The DMV, IRS, courts, and state and local governments all charge transaction processing fees. If they can do it, so can you!


                            </p>
                        </div>
                    </div>
                  
                </div>
                <p class="uk-text-small uk-text-muted uk-margin-large-bottom">
                  <a href="{% url 'home:apply' %}">
                      <span class="uk-label in-label-small uk-text-uppercase uk-margin-small-right">Apply Online</span>
                    </a>
                    Have any additional questions? 
                 <a href="{% url 'home:contact' %}">Contact us!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->



    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid uk-flex uk-flex-center">
                <div class="uk-width-9-5@m">
                    <div class="uk-card uk-card-large uk-card-default in-card-paper">                            
                        <div class="uk-card-body">
                            <h2>Frequently Asked Questions
                            </h2>
                            <hr class="uk-margin-medium-top uk-margin-small-bottom">
                            <ul class="in-faq-5" data-uk-accordion="collapsible: false">
                                <li class="uk-open">
                                    <a class="uk-accordion-title" href="#">What is a Merchant Cash Advance?
                                    </a>
                                    <div class="uk-accordion-content">
                                      <p>
                                        A merchant cash advance or a business cash advance is the purchase of an agreed upon amount of future sales at a discount. Not only is there a high approval rate on merchant cash advances, but business owners can receive a business cash advance—within just a few days of applying. Additionally, a stellar credit history is not required.

                                      </p>  
                                      <p>
                                        Some of the reasons our clients commonly turn to Straight Line Source include:


                                      </p>
                                      <ul>
                                        <li>
                                            Desire to add new services or products to increase revenue

                                        </li>
                                        <li>
                                            Require working capital for expansion or renovation
 
                                        </li>
                                        <li>
                                            Need to access working capital immediately for unforeseen expenses

                                        </li>
                                        <li>
                                            Have inadequate cash-on-hand to purchase inventory, materials, or equipment

                                        </li>
                                        <li>
                                            Wish to fund marketing and advertising campaigns

                                        </li>
                                        <li>
                                            Otherwise have to resolve temporary cash flow shortages

                                        </li>
                                      </ul>
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">How Do Cash Advance Companies Work?
                                    </a>
                                    <div class="uk-accordion-content">
                                        <p>
                                            The cash advance company provides a business with money up front for an agreed upon portion of future sales at a discount. Generally, businesses do not have collateral to borrow from a traditional bank. The biggest asset all businesses have is sales. A merchant cash advance allows a business owner to get the cash they need now and pay it back little by little in easy automated payments as future sales are made.
                                        </p>  
                                        
                                    </div>
                                </li>
                                <li>
                                    <a class="uk-accordion-title" href="#">How Can I Get My Merchant Cash Advance?</a>
                                    <div class="uk-accordion-content">
                                        <p>
                                        
                                            Clients looking for an increase in capital with business funds go through our streamlined approval process. All you have to do is apply online by filling out a one-page form, and if you’re approved, you can receive the money in as little as just 24 hours! Contact us today to learn more about business cash advances and our processing services, as well as the variety of industries we serve.</p>
                                    </div>
                                </li>
                              
                            </ul>
                            <div class="uk-card uk-card-small uk-card-body uk-background-muted uk-border-rounded uk-margin-medium-top">
                                <p class="uk-text-small">For general inquiries please contact <a class="uk-text-lowercase uk-link" href="mailto:info@straightlinesource.com">info@straightlinesource.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section content end -->
    {% include 'cta.html' %}

{% endblock body %}
    


{% block js %}
    
{% endblock js %}
    