{% load static %}
<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-card uk-card-primary uk-box-shadow-small uk-border-rounded uk-background-cover"
                 style="background-image: url({% static 'w2.png' %});">
                    <div class="uk-card-body">
                        <h2 class="uk-margin-remove-bottom">Take Action Today: Empower Your Business

                        </h2>
                        <p class="uk-margin-small-top">Are you ready to take the first step in your transformative business journey? Your next step towards unlocking your business potential is to explore the funding opportunities available for your business. We can offer expert insights and critical thinking to aid you in making the best decision. 

                        </p>
                        <p class="uk-margin-small-top">
                            Apply for working capital today, and let SLS be the catalyst that propels your business toward new levels of success and prosperity.
                        </p>
                        <a class="uk-button uk-button-primary uk-border-rounded" href="{% url 'home:apply' %}">Apply Online</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->